.App {
  background: linear-gradient(to bottom, #0a0a0a 0%, #212121 25%, #3b3b3b 47%, #3b3b3b 53%, #212121 75%, #0a0a0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#0a0a0a', GradientType=0 );

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  color: white
}

.Animation {
  height: 200px;
  position: absolute;
  right:100%; top:0px;
  animation: fly 1.3s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

/* Standard syntax */
@keyframes fly {
  0%   {right:-230px; top:25%;}
  100% {right:100%; top:0px;}
}


.Red {
  color: red;
  font-size: 45px;
  font-weight: 200;
}

.Red, .Tetris {
  text-shadow: 0 -40px 100px #ffcccc, 
    0 0 2px,
    0 0 1em #ff4444,
    0 0 0.5em #ff4444,
    0 0 0.1em#ff4444,
    0 10px 3px #000;
}

.Tetris {
  font-size: 80px;
  font-weight: 500;
  margin-top: -30px;
  margin-bottom: 50px;
  color: #fff;
  /* animation: tetris 4s infinite linear; */
}

@keyframes tetris {
  0% {text-shadow: 0px 0px 11px red;}
  50% {}
  70% {text-shadow: 0px 0px 11px red;}
  90% {}
  95% {text-shadow: 0px 0px 11px red;}
  100% {}
}

.MainMenu {
  display:flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  justify-content: center;
}

.Form {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Button {
  max-width: 100;
}
