.LeftPanel {
    background-color: #fbbaba;
    border:1px solid #000;
    display: inline-table;
  }

div.bloc {
    padding:auto; /* aération interne des blocs */
    width:auto;
    border:1px solid #fff;
    display: flex;
    vertical-align:center;
    text-align:center; /* on rétablit l'alignement du texte */ }
